* {
    font-family: Verdana;
}

body {
    text-align: center;
    margin: 0;
    padding: 0 3%;
}

header {
    background-color: #FDFAAA;
    color: #5BBB77;
    padding: 10px;
    text-shadow: 5px 5px 10px black;
}

.lewy {
    background-color: #FFA6A6;
    width: 79%;
    height: 600px;
    float: left;
    margin: 15px 0;
    box-shadow: 5px 6px 10px black;
}

.prawy {
    background-image: linear-gradient(#FDFAAA, #5BBB77);
    width: 20%;
    height: 630px;
    float: left;
}

footer {
    background-color: #5BBB77;
    color: #FFF555;
    font-weight: bold;
    font-size: 120%;
    padding: 15px;
    clear: both;
}

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: #5BBB77;
    font-size: 16px;
    height: 40px;
}

ul {
    list-style-type: square;
    line-height: 1.5;
}

a {
    color: #680808;
}

h4 {
    color: green;
}

img {
    width: 80%;
    margin-top: 15px;
}
