body {
    font-family: Georgia;
    text-align: center;
    background: LightSteelBlue;
}

form {
    padding-top: 20px;
}

header {
    overflow: auto;
    padding: 30px;
    height: 400px;
}

footer {
    background-color: orange;
    padding: 10px;
    clear: both;
}

img {
    width: 80%;
}

table {
    width: 70%;
    margin: auto;
    border: 1px dotted maroon;
}

tr:hover {
  background-color: SteelBlue;
  color: white;
}
