* {
    font-family: Tahoma;
}

main {
    background-color:#AEC6E6;
     display: flex;
}


menu {
    background-color:#232323;
    width: 20%;
    height: 450px;
}

body {
    background-color:  #fb8e02;
    width: 80%;
    height: 450px;
    overflow: scroll;
}

footer {
    padding: 2px;
    text-align: right;
}

img {
    width: 100%;
}

h1 {
    padding: 50px;
    color: maroon;
}

ul {
    list-style-type: none;
}

li {
    background-color: #FB8E02;
    width: 95%;
    padding: 5px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #232323;
    font-size: 110%;

}

a:hover {
    background-color: #B36501;
}

