* {
    font-family: Verdana;
}
body {
    background: linear-gradient(teal,aliceblue);
    color: white;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    width: 100%;
    display: block;
    position: fixed;
    top: 70px;
}

nav {
    font-size: 130%;
    padding:30px;
    color: white;
}

head {
    background-color: rgb(160, 82, 45);
    opacity: 0.6;
    padding: 10px;
    margin-top: 100px;
    border-radius: 15px ;
}

main {
    background-color: sandybrown;
    padding: 30px;
}

footer {
    background-color: sienna;
    padding: 30px;
    radius:
}